<!DOCTYPE html>
<html>
<head>
  <link type="text/css" rel="stylesheet" href="/static/main.css" />

  <title>Congrui Li's Wiki</title>
</head>

<body>
  <div class="header">
    <div class="controls">
      {% if user %}
        {{user.name}} (<a class="control-link" href="/logout">logout</a>)
      {% else %}
        <a class="control-link" href="/login">login</a>
        |
        <a class="control-link" href="/signup">signup</a>
      {% endif %}
    </div>

    {% block controls %}
    {% endblock %}  

    <div class="clear"></div>
  </div>


  <div id="content">
  {% block content %}
  {% endblock %}
  </div>

</body>

</html>

